@import 'reset';
@import 'fonts';
@import 'variables';
@import 'animate';
@import 'mixins';


/* core */
@import 'core/index';


/* common */
@import 'common/header';
@import 'common/footer';


/* main style */

body {
	background-color: $white;
	background-size: 100%;
	background-repeat: no-repeat;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	width: 1230px;
}

.col-6 {
	width: 50%;
}
.col-2 {
	width: 15%;
}


header {
	background-image: url(..//img//banner.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

h2 {
	font-family: KaushanScript-Regular;
	font-size: 48px;
	color: $white;
	padding-top: 105px;
	text-align: center;
	margin-left: -4px;
	letter-spacing: 1px;
}

h1 {
	font-family: Montserrat-Bold;
	text-transform: uppercase;
	color: $white;
	text-align: center;
}
h4 {
	font-size: 23px;
}
h3 {
	font-size: 32px;
}

.line-bottom {
	display: block;
	margin: 0 auto;
	height: 3px;
	width: 60px;
	color: $yellow;
	align: center;
	border-bottom: 3px solid $yellow;

}

li {
	font-family: Montserrat-Regular;
}


.title {
	text-align: center;
	h4 {
		font-family: KaushanScript-Regular;
	}
	h3 {
		font-family: Montserrat-Bold;
		text-transform: uppercase;
	}

}

.content {
	text-align: center;
	p {
		font-family: Roboto-Regular;
		color: $grey;
	}
}


