

/* common */




/* media-const */
$m-mobile: "min-width: 768px";
$m-tablet: "min-width: 992px";
$m-desktop: "min-width: 1230px";

$phone: "max-width: 479px";
$mobile: "max-width: 767px";
$tablet: "max-width: 991px";
$desktop: "max-width: 1199px";