/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html, body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

div, span, object, iframe, img, table, caption, thead, tbody,
tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu,
nav, footer, header, section, summary, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code,
del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd,
ol, ul, li, fieldset, legend, label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block; }

table {
  border-collapse: separate;
  border-spacing: 0; }
  table caption, table th, table td {
    text-align: left;
    vertical-align: middle; }

a img {
  border: 0; }

:focus {
  outline: 0; }

*,
*:before, *:after {
  box-sizing: border-box; }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../font/Montserrat-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../font/Montserrat-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'KaushanScript-Regular';
  src: url("../font/KaushanScript-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../font/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto-LightItalic';
  src: url "../font/Roboto-LightItalic.ttf" format("truetype"); }

/* colors */
/* media-const */
/* core */
header .logo {
  padding-top: 20px;
  padding-left: 0px;
  display: inline-block; }
  header .logo a {
    font-family: Montserrat-Bold;
    text-decoration: none;
    color: #fff;
    font-size: 27px;
    letter-spacing: 2px; }

header .nav {
  display: inline-block;
  float: right;
  padding-top: 33px;
  margin-right: -30px; }
  header .nav li {
    list-style-type: none;
    display: inline-block;
    padding: 0 24px; }
    header .nav li a {
      text-decoration: none;
      color: #fff;
      font: Montserrat-Regular;
      text-transform: uppercase;
      font-size: 15px;
      padding-bottom: 6px; }
      header .nav li a:hover {
        color: #fce38a;
        border-bottom: 3px solid #fce38a; }

header .title {
  text-align: center; }
  header .title h2 {
    padding-top: 150px;
    font-size: 70px; }
  header .title h1 {
    padding-top: 25px;
    padding-left: 203px;
    font-size: 148px;
    margin-top: 0px;
    line-height: 140px;
    width: 1000px; }
  header .title .line-bottom {
    padding-top: 57px;
    border-color: #fff; }
  header .title a {
    color: #fff;
    text-transform: uppercase;
    border: 3px solid #fff;
    text-decoration: none;
    font-family: Montserrat-Bold;
    font-size: 14px;
    padding: 7px 29px;
    margin-top: 50px;
    display: inline-block; }

header .content-bottom {
  padding-top: 157px;
  padding-bottom: 18px; }
  header .content-bottom li {
    width: 280px;
    margin-right: 16px;
    padding-top: 18px;
    list-style-type: none;
    display: inline-block;
    font-family: Montserrat-Regular;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    border-top: 3px solid #fff; }
    header .content-bottom li span {
      font-family: Montserrat-Bold;
      font-size: 22px; }

.about-us .container {
  padding: 0; }
  .about-us .container .title {
    padding-top: 87px; }
    .about-us .container .title h3 {
      color: #000;
      letter-spacing: -0.9px;
      padding-top: 3px;
      padding-left: -2px; }
    .about-us .container .title .line-bottom {
      border-bottom: 3px solid #fce38a;
      padding: 14px; }
  .about-us .container .content p {
    font-size: 15px;
    padding-top: 43px;
    width: 950px;
    margin-left: 140px; }
  .about-us .container .content li {
    list-style-type: none;
    display: inline-block;
    padding: 101px 13px 0 13px; }
    .about-us .container .content li img {
      width: 380px;
      height: 250px; }

.facts {
  background-color: #95e1d3;
  margin-top: 104px; }
  .facts li {
    list-style-type: none;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    width: 235px;
    height: 269px;
    border-left: 1px solid #fff;
    padding: 0;
    text-align: center;
    padding-left: 7px; }
    .facts li .numbers {
      padding-top: 60px;
      display: block;
      font-size: 70px;
      font-family: Montserrat-Bold; }
    .facts li .text {
      font-size: 13px; }

.service {
  padding-top: 104px; }
  .service h3 {
    padding-top: 5px;
    letter-spacing: -1.1px; }
  .service .line-bottom {
    padding-top: 26px; }
  .service .content {
    text-align: left;
    padding-top: 25px; }
    .service .content .line-bottom {
      margin-top: -7px;
      width: 100%;
      border-bottom: 1px solid #999999; }
    .service .content ul {
      padding-top: 2px; }
      .service .content ul li {
        display: inline-block;
        width: 350px;
        height: 140px;
        margin-right: 37px; }
        .service .content ul li h5 {
          display: inline-block;
          font-size: 14px;
          padding-left: 52px;
          text-transform: uppercase; }
        .service .content ul li p {
          padding-left: 90px;
          padding-top: 7px; }
        .service .content ul li img {
          padding-top: 22px; }

.feature {
  margin-top: 96px;
  padding-top: 104px;
  background-image: url(/assets/img/feature-bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 2; }
  .feature h3 {
    letter-spacing: -1px;
    padding-top: 3px; }
  .feature .line-bottom {
    padding-top: 30px; }
  .feature .content {
    padding-top: 45px;
    margin-left: 228px; }
    .feature .content img {
      display: inline-block; }
      .feature .content img .tablet {
        z-index: 1; }
      .feature .content img .phone {
        z-index: 2; }

.service-2 {
  z-index: 2;
  padding-top: 97px; }
  .service-2 h3 {
    padding-top: 5px;
    letter-spacing: -1.2px; }
  .service-2 .line-bottom {
    padding-top: 29px; }
  .service-2 .content {
    text-align: left; }
    .service-2 .content p {
      padding-top: 40px;
      padding-left: 100px;
      padding-right: 100px;
      font-size: 16px; }
    .service-2 .content .col-6 {
      display: inline-block;
      padding-top: 90px; }

.quote {
  background-color: #f8f8f8;
  margin-top: 110px;
  padding-bottom: 66px; }

.our-team {
  padding-top: 95px; }
  .our-team h3 {
    padding-top: 4px;
    letter-spacing: -1px; }
  .our-team .line-bottom {
    padding-top: 30px; }
  .our-team .content p {
    padding-top: 40px;
    padding-right: 100px;
    padding-left: 100px; }
  .our-team .content ul {
    padding-top: 88px;
    text-align: left; }
    .our-team .content ul li {
      display: inline-block;
      text-align: center; }
      .our-team .content ul li img {
        width: 380px;
        height: 470px; }
      .our-team .content ul li h6 {
        text-transform: uppercase;
        padding-top: 20px;
        font-size: 14px;
        letter-spacing: 1.2px; }
      .our-team .content ul li p {
        padding-top: 6px;
        font-size: 14px; }

.logos {
  background-color: #f8f8f8;
  margin-top: 114px;
  padding: 60px 0; }

.work {
  padding-top: 101px; }
  .work h3 {
    padding-top: 6px;
    letter-spacing: -1px; }
  .work .line-bottom {
    padding-top: 30px; }
  .work .content p {
    padding: 39px 450px 0px 450px;
    font-size: 13px;
    color: #f8f8f8; }
  .work .content .col-6 {
    display: inline-block;
    float: left;
    padding-top: 100px; }
  .work .content ul {
    text-align: left; }
    .work .content ul li {
      list-style-type: none;
      padding-bottom: 0;
      display: inline-block;
      float: left;
      line-height: 0; }
      .work .content ul li img {
        width: 480px;
        height: 390px; }
      .work .content ul li .unique {
        height: 780px; }

.testimonial {
  padding-top: 905px;
  text-align: left; }
  .testimonial li {
    list-style-type: none; }
    .testimonial li .testimonial-photo {
      margin-left: 0;
      content: url(assets/img/testimonial.jpg);
      width: 100px;
      height: 100px;
      border-radius: 50px; }
    .testimonial li p {
      font-size: 24px;
      font-family: Roboto-LightItalic;
      text-align: left;
      padding-left: 320px;
      padding-right: 105px; }
    .testimonial li .line-bottom {
      padding-top: 29px;
      display: inline-block;
      margin-left: -365px; }
    .testimonial li .author {
      font-family: KaushanScript-Regular;
      font-size: 25px;
      margin-left: 10px; }

/* common */
/* main style */
body {
  background-color: #fff;
  background-size: 100%;
  background-repeat: no-repeat; }

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1230px; }

.col-6 {
  width: 50%; }

.col-2 {
  width: 15%; }

header {
  background-image: url(..//img//banner.jpg);
  background-size: 100%;
  background-repeat: no-repeat; }

h2 {
  font-family: KaushanScript-Regular;
  font-size: 48px;
  color: #fff;
  padding-top: 105px;
  text-align: center;
  margin-left: -4px;
  letter-spacing: 1px; }

h1 {
  font-family: Montserrat-Bold;
  text-transform: uppercase;
  color: #fff;
  text-align: center; }

h4 {
  font-size: 23px; }

h3 {
  font-size: 32px; }

.line-bottom {
  display: block;
  margin: 0 auto;
  height: 3px;
  width: 60px;
  color: #fce38a;
  align: center;
  border-bottom: 3px solid #fce38a; }

li {
  font-family: Montserrat-Regular; }

.title {
  text-align: center; }
  .title h4 {
    font-family: KaushanScript-Regular; }
  .title h3 {
    font-family: Montserrat-Bold;
    text-transform: uppercase; }

.content {
  text-align: center; }
  .content p {
    font-family: Roboto-Regular;
    color: #999999; }
